.article-title-bg {
	display: inline-block;
	margin: 15px 0 0 0;
	padding: 5px 26px 0;
	border: 1px solid #330101;
	@include background-image(linear-gradient(bottom, #0b0101, #770a0a));
	}

	.article-title-bg SPAN {
		background: none;
		}

.book-cats {
	margin-top: 12px;
	font-size: 0;

	SPAN {
		height: 22px;
		padding: 0 18px;
		display: inline-block;
		border: 1px solid #323030;
		line-height: 22px;
		font-size: 11px;
		color: #000;
		text-transform: uppercase;
		@include background(linear-gradient(bottom, #070707 0%, #838181 50%, #838181 50%, #070707 100%));
		}

	A {
		padding-left: 27px;
		font-size: 13px;
		color: #7E0004;
		font-style: italic;
		}
	}

.book-list {
	display: none;
	z-index: 1000;
	// position: relative;
	overflow: visible;
	margin: 18px 0 0 0;
	// padding-bottom: 300px;
	// margin-bottom: -300px;

	&:hover {
		z-index: 2000;
		}

	LI {
		// position: relative;

		&:hover {
			z-index: 50000;
			.book-list-cont {
				display: block;
				opacity: 1;
				height: auto;
				padding: 10px;
				z-index: 50000;
				margin-top: 0;
				@include transition(all 0.3s ease-out);
				}
			}
		}
	}

	.book-list-title {
		font-weight: bold;
		}
	.book-list-cont {
		width: 380px;
		height: 0;
		overflow: hidden;
		padding: 0 10px;
		position: absolute;
		// padding: 10px;
		top: auto;
		left: auto;
		margin-top: -10px;
		margin-left: 200px;
		// display: none;
		opacity: 0;
		z-index: 1;
		background: #1a1a1a;
		border:1px solid #222;
		box-shadow: 0 0 10px #000;
		// @include transition(all 0.3s ease-out);

		IMG {
			float: left;
			}
		P {
			margin-left: 160px;
			}
		SPAN {
			font-weight: bold;
			}
		}

	.book-list:after,
	.book-list:before {
		width: 681px;
		height: 16px;
		display: block;
		content: "\00a0";
		background: url(../images/book-list-border.png) no-repeat 50% 0;
		}

	.book-list:after {
		margin: 20px 0 0 0;
		}

	.book-list:before {
		margin: 0 0 12px 0;
		background-position: 50% 100%;
		}

	.book-list a {
		color: #888888;
		}

.video-blocks {
	@extend .clearfix;

	LI {
		width: 225px;
		padding: 10px 10px 0;
		@include box-sizing(border-box);
		margin-top: 20px;
		// position: relative;
		float: left;
		text-align: center;
		border:1px solid transparent;
		border-bottom-width: 0;

		&:hover {
			border-color: #222;
			background: #1a1a1a;
			z-index: 10000;
			// box-shadow: 0 0 15px #000;

			.video-blocks-cont {
				display: block;
				}
			}
		}
	A {
		color: #5e5e5e;
		}
	LI > A {
		font-weight: bold;
		}
	A SPAN {
		display: block;
		}
	}
	.video-blocks-cont {
		width: 203px;
		padding: 10px;
		margin-left: -11px;
		// margin-right: -1px;
		position: absolute;
		// margin-top: 20px;
		// left: -1px;
		// right: -1px;
		display: none;
		text-align: left;
		border: 1px solid #222;
		border-top-width: 0;
		background: #1a1a1a;
		}
