.album {
	width: 698px;
	margin-left: 18px;
	margin-bottom: 18px;
	padding: 18px 0;
	background: #1f1f1f;
	position: relative;
	overflow: visible;
	}

	.album-container {
		width: 620px;
		margin-left: 40px;
		overflow: hidden;
		}

		.album-list {
			text-align: center;
			position: relative;
			@include transition(left 0.3s ease-in-out);
			}

			.album-list LI {
				width: 140px;
				margin-right: 20px;
				float: left;
				}
			.album-item-photo {
				width: 139px;
				height: 146px;
				margin-bottom: 10px;
				background: url(../images/album-bg.png) no-repeat 0 0;
				}
	.album-next,
	.album-prev {
		width: 24px;
		height: 36px;
		background: url(../images/album-arrows.png) no-repeat;
		position: absolute;
		top: 112px;
		cursor: pointer;
		}

	.album-next {
		right: -5px;
		background-position: 0 -36px;
		}

	.album-prev {
		left: -5px;
		background-position: 0 0;
		}
