.contact-text {
	margin: 25px 40px 40px 0;
	// width: 700px;
	}
	.contact-text P {
		margin-bottom: 20px;
		}

.contact-form-header {
	text-decoration: underline;
	font-style: italic;
	color: #780004;
	}

.form-input[type=text] {
	width: 203px;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #504f4f;
	color: #999;
	background-color: #171717;
	font-size: 13px;
	@include box-shadow(inset 0 0 1px #1e1e1e);
	border-radius: 1px;

	font-family: Arial;
	outline: none;
	}

.form-textarea {
	width: 339px;
	height: 141px;
	padding: 7px 10px;
	border: 1px solid #504f4f;
	background-color: #171717;
	color: #999;
	font-family: Arial;
	font-size: 13px;
	border-radius: 1px;

	resize: none;
	}

.form-captcha {
	margin: 20px 0;
	display: block;
	@extend .clearfix;
	}
	.form-captcha img {
		float: left;
		margin: 0 32px 0 15px;
		}
	.form-captcha .form-label {
		margin-top: 0;
		float: left;
		}

.form-label {
	margin-top: 13px;
	display: block;
	line-height: 20px;
	}

.form-input[type=submit] {
	width: 360px;
	height: 31px;
	border: none;
	border-radius: 4px;
	color: #dfc99f;
	text-transform: uppercase;
	// letter-spacing: -1px;
	text-shadow: 0px 2px #3c0003;
	cursor: pointer;

	position: relative;
	font-family: $font-MyriadPro-Cond;
	font-size: 18px;
	line-height: 31px;
	background: url(../images/contacts-submit.png) repeat-x 50% 0;
	// @include background-image(linear-gradient(bottom,#4a0001,#d90018)) {

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		}
	}
