.footer {

	}
	.footer-social {
		@extend .clearfix;
		}
		.footer-social-item {
			width: 50%;
			height: 36px;
			float: left;
			@include box-sizing(border-box);
			}
		.footer-social-item._fll {
			padding-right: 32px;
			text-align: right;
			}
		.footer-social-item._flr {
			padding-left: 26px;
			}
		.footer-social SPAN {
			line-height: 13px;
			vertical-align: bottom;
			}
			.footer-social-item UL {
				height: 36px;
				display: inline-block;
				font-size: 0;
				}
			.footer-social-item LI {
				display: inline-block;
				}
			.footer-social-item._flr UL {
				height: 20px;
				margin-top: 20px;
				position: relative;
				// top: 16px;
				}
			.footer-social-item._flr LI {
				width: 20px;
				height: 20px;
				margin-right: 3px;
				}
				.footer-social-item._flr A {
					height: 20px;
					display: block;
					background: url(../images/icons-social_m.png) no-repeat 0 0;
					}
				@mixin addFooterSocialLink_s($name, $pos) {
					.footer-social-item._flr ._#{$name} A {
						background-position: (-20px * $pos) 0;
						}
					}
				@include addFooterSocialLink_s(ok, 1);
				@include addFooterSocialLink_s(fb, 2);
				@include addFooterSocialLink_s(twi, 3);
				@include addFooterSocialLink_s(gplus, 4);
				@include addFooterSocialLink_s(lj, 5);
				@include addFooterSocialLink_s(my, 6);
				@include addFooterSocialLink_s(blogger, 7);
				@include addFooterSocialLink_s(mail, 8);
				@include addFooterSocialLink_s(email, 9);
				@include addFooterSocialLink_s(print, 10);
				@include addFooterSocialLink_s(add, 11);
			.footer-social-item._fll LI {
				width: 38px;
				height: 36px;
				margin-left: 5px;
				}
				.footer-social-item._fll A {
					height: 36px;
					display: block;
					background: url(../images/icons-social_b.png) no-repeat 0 0;
					}
				@mixin addFooterSocialLink($name, $pos) {
					.footer-social-item._fll ._#{$name} A {
						background-position: (-38px * $pos) 0;
						}
					}
				@include addFooterSocialLink(ok, 1);
				@include addFooterSocialLink(fb, 2);
				@include addFooterSocialLink(twi, 3);
				@include addFooterSocialLink(gplus, 4);
				@include addFooterSocialLink(mail, 5);
				@include addFooterSocialLink(add, 6);

		.footer-menu {
			height: 39px;
			margin-top: 18px;
			line-height: 39px;
			font-size: 0;
			text-align: center;
			position: relative;
			}
		.footer-menu:after {
			width: 989px;
			height: 16px;
			display: block;
			content: "\00a0";
			position: absolute;
			top: -8px;
			left: 50%;
			margin-left: -495px;
			background: url(../images/footer-menu-top.png) no-repeat 50% 0;
			}
			.footer-menu LI {
				margin: 0 15px;
				display: inline-block;
				font-size: 12px;
				}
			.footer-menu A {
				color: #8B0005;
				}

		.footer-content {
			width: 980px;
			// height: 200px;
			margin-left: 10px;
			background: #111;
			position: relative;
			}
		.footer-content:before,
		.footer-content:after {
			width: 358px;
			height: 189px;
			display: block;
			content: "\00a0";
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0.06;
			background: url(../images/footer-bg.png) 50% 100% no-repeat;
			}
		.footer-content:after {
			left: auto;
			right: 0;
			@include scaleX(-1);
			}
			.footer-content H4 {
				font-size: 18px;
				color: #818181;
				font-family: $font-MyriadPro-Cond;
				}
			.footer-content-item {
				padding: 18px 0 32px 28px;
				@include box-sizing(border-box);
				float: left;
				}
				.footer-content-item UL {
					margin-top: 15px;
					font-size: 12px;
					@extend .clearfix;
					}
				.footer-content-item LI {
					width: 222px - 15px;
					padding-left: 15px;
					float: left;
					line-height: 20px;
					position: relative;
					}
					.footer-content-item LI:before {
						width: 6px;
						height: 1px;
						display: block;
						content: "\00a0";
						background: #7c0005;
						position: absolute;
						top: 9px;
						left: 0;
						}
				.footer-content-item A {
					color: #595959;
					text-decoration: none;
					}
			.footer-services {
				width: 487px;
				position: relative;
				}
			.footer-services:after {
				width: 15px;
				height: 161px;
				position: absolute;
				top: 50%;
				left: 100%;
				margin-top: -80px;
				margin-left: -8px;
				display: block;
				content: "\00a0";
				background: url("../images/footer-divider.png");
				}
			.footer-issues {
				width: 493px;
				}
