.images-container {
	margin-top: 40px;
	position: relative;
	z-index: 10000;
	}
.image-list {
	@extend .clearfix;

	IMG {
		display: block;
		}

	LI {
		margin: 0 10px 10px 0;
		float: left;
		border-radius: 2px;
		overflow: hidden;
		border: 3px solid #444;
		box-shadow: 5px 0 0 #000;
		}
	}
