.slider {
	width: 449px;
	// height: 36px;
	margin-top: 38px;
	margin-left: 114px;
	position: relative;
	overflow: hidden;
	}
	.slider-container {
		width: 372px;
		height: 38px;
		overflow: hidden;
		margin-left: 41px;
		}
		.slider UL {
			position: relative;
			@include transition(left 0.3s ease-in-out);
			}
			.slider LI {
				width: 120px;
				margin: 0 2px;
				float: left;
				background: url(../images/slider-bg.png) repeat-x 0 0;
				font-size: 14px;
				color: #9B9B9B;
				text-transform: uppercase;
				line-height: 38px;
				text-align: center;
				cursor: pointer;
				}
	.slider-next,
	.slider-prev {
		width: 24px;
		height: 20px;
		display: block;
		background: url(../images/slider-arrows.png) no-repeat 0 0;
		top: 7px;
		position: absolute;
		}
	.slider-prev {
		left: 0;
		}
	.slider-next {
		right: 0;
		background-position: 0 100%;
		}

	.slider-content {
		width: (449 * 3) + px;
		margin-top: 15px;
		position: relative;
		overflow: hidden;
		text-align: center;
		@include transition(all 0.3s ease-out);
		}
		.slider-i {
			width: 449px;
			float: left;
			font-size: 14px;
			}
