.sidebar {
	width: 250px;
	float: left;
	position: relative;
	left: 3px;
	}
	.sidebar H2.title {
		width: 244px;
		margin: 00 0 2px;
		// cursor: pointer;

		&:nth-child(1) {
			margin-top: 12px;
			}
		}
	.sidebar-list {
		width: 204px;
		padding-top: 12px;
		padding-bottom: 15px;
		margin-left: 23px;
		margin-bottom: 26px;
		background: #1A1A1A url(../images/sidebar-list.gif) repeat;
		position: relative;
		font-size: 11px;
		color: #9B9B9B;
		font-family: $font-MyriadPro;
		text-transform: uppercase;
		@include transition(all 0.6s ease-in-out);

		&:after {
			width: 231px;
			height: 16px;
			display: block;
			content: "\00a0";
			position: absolute;
			bottom: -6px;
			left: -14px;
			background: url(../images/sidebar-list-bottom.png) no-repeat 0 0;
			}
		}
		.sidebar-list LI {
			// height: 30px;
			position: relative;
			line-height: 30px;

			A:after {
				width: 173px;
				height: 1px;
				display: block;
				position: absolute;
				top: 29px;
				// bottom: 0;
				left: 15px;
				content: "\00a0";
				@include transition(opacity 0.4s ease-out);
				background: transparent url(../images/sidebar-list-line.png) repeat-x 0 0;
				}
			&:nth-last-child(1) > A:after {
				background: none;
				}
			}
		.sidebar-list UL {
			// margin: 0 15px;
			overflow: hidden;
			@include transition(height 0.4s ease-out);
			}
		.sidebar-list UL LI {
			background: rgba(#ccc, 0.1);
			}
		.sidebar-list UL A {
			// padding-left: 19px;

			&:after {
				left: 15px;
				}
			}
		.sidebar-list ._opened {
			> A:after {
				opacity: 0;
				}
			}

		.sidebar-list > LI {
			background: url(../images/sidebar-list-item.png) no-repeat 14px 10px;
			}
		.sidebar-list A {
			height: 30px;
			display: block;
			color: #9b9b9b;
			padding-left: 34px;
			text-decoration: none;
			}
