.box-001 {
	margin: 0 0 20px 0;
	background: #1f1f1f;
	padding: 15px 15px 7px;
	// border: 1px solid #9C9C9C;
	// border-radius: 8px;
	// box-shadow: 0px 1px 10px #ADA7A7;
	font-size: 12px;
}
	.box-001 A {
		color: #444;
		display: inline-block;
		margin: 0 15px 10px 0;
	}
	.box-001 A:hover {
		color: #9b9b9b;
	}
	.box-001 A.active {
		text-decoration: none;
		color: #999;
	}

.bblock-001 {
	// width: 834px;
	margin: 0 30px 0 18px !important;
	position: relative;
}

.bblock-001-close {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 10px;
	background: url(../images/close-search.png) no-repeat;
	cursor: pointer;
}
.bblock-001-close:nth-last-child(2) {
	top: 10px;
}
.bblock-001-close:nth-last-child(1) {
	bottom: 10px;
}

.scrollbar-wrapper { width: 100%; overflow: hidden; clear: both; margin: 20px 0 10px; }
.scrollbar-wrapper .viewport { width: 100%; height: 276px; overflow: hidden; position: relative; }
.scrollbar-wrapper .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
.scrollbar-wrapper .thumb .end,
.scrollbar-wrapper .thumb { background-color: #8a8a8a; }
.scrollbar-wrapper .scrollbar { position: absolute; float: right; right: 0; width: 15px; }
.scrollbar-wrapper .track { background-color: #0e0e0e; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar-wrapper .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.scrollbar-wrapper .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.scrollbar-wrapper .disable{ display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.search-bBlock {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 10000;

	font-size: 14px;
	font-family: Arial;
	// font-family: $font-FranklinGothic_MediumCond;
	padding: 0 0 15px;

	A {
		outline: none;
		}
}

.menu-001 {
	font-size: 0;
	text-align: right;
}
	.menu-001 .menu-001-item {
		margin-right: 8px;
		padding-right: 8px;
		border-right: 1px solid #ccc;
		display: inline-block;
		font-size: 15px;
	}
	.menu-001 .menu-001-item:nth-last-child(1) {
		margin-right: 0;
		padding-right: 0;
		border-right: 0;
	}
	.menu-001 A {
		text-decoration: none;
		line-height: 1.2em;
		border-bottom: 1px solid #ccc;
	}
	.menu-001 A[data-type=handler] {
		border-bottom: 1px dashed #ccc;
	}

.clear {clear: both;}

.b-search,
.b-tags {
	// margin: 15px 15px 20px;
	padding-bottom: 15px;
	font-size: 10px;
	// font-family: Verdana;
}
/*.box-001 {
	display: none;
}*/
	.search-inputs {
		margin-right: 160px;
	}
	.search-input {
		/*float: left;*/
		height: 29px;
		line-height: 29px;
		margin: 0;
		padding: 0 10px;
		font-size: 12px;
		color: #333;
		line-height: 29px;
	}
	.search-input_text {
		height: 29px;
		padding: 0 10px;
		background: #1f1f1f;
		margin-right: 77px;
		border: 3px solid rgba(#4b4b4b, 0.76);
		border-radius: 5px;
	}
	.search-input[type=text] {
		width: 100%;
		height: 29px;
		padding: 0;
		outline: 0;
		/*width: 100%;*/
		/*width: calc(100% - 230px);*/
		/*margin-right: -1px;*/
		border: 0;
		background: #1f1f1f;
		color: #9B9B9B;
		display: block;
		float: left;
	}
	.search-input[type=submit] {
		width: 70px;
		height: 35px;
		/*margin-right: 160px;*/
		/*margin-left: -1px;*/
		float: right;
		border: 3px solid rgba(#4b4b4b, 0.76);
		border-radius: 5px;
		cursor: pointer;
		background: #111;
		color: #9b9b9b;
	}

	.search-handlers {
		margin-top: 25px;
	}
	.search-handler {
		height: 18px;
		margin: 0;
		margin-bottom: 5px;
		overflow: hidden;
		/*padding-top: 25px;*/
		clear: both;
	}
		.search-handler LI {
			/*width: 150px;*/
			height: 18px;
			margin: 0 40px 5px 0;
			list-style: none;
			float: left;
			text-align: left;
		}
		.search-handler LI:nth-child(1) {
			width: 60px;
			font-weight: bold;
			color: #000;
		}
		.search-handler LI:nth-child(2) {
			/*width: 0px;*/
		}
		.search-handler LI:nth-child(3) {
			/*width: 200px;*/
		}
		.search-handler LI:nth-child(4) {
			/*width: 200px;*/
		}
		.search-handler LI:nth-child(5) {
			margin: 0 0 5px 0;
		}
		.search-handler LI:nth-child(5) A {
			color: #9b9b9b;
			text-decoration: underline;
			font-weight: bold;
			background: none !important;
			border: 0 !important;
		}

		.search-handler A {
			color: #999;
			line-height: 16px;
			text-decoration: none;
		}
		.search-handler A.active {
			font-weight: bold;
			color: #000;
		}
		.search-handler LI:nth-child(1) A {
			font-weight: bold !important;
			color: #000;
		}

		.search-01 {
			padding-top: 10px;
			clear: both;
			/*display: none;*/
		}
		.search-01 > DIV {
			/*display: none;*/
			display: inline-block;
		}
		DIV.search-b, DIV.search-b2 {
			display: none;
		}
@mixin newCommonLink {
	// NEW
	line-height: 16px;
	// border-top: 1px solid transparent;
	border: 1px solid #000;
	@include background-image(linear-gradient(bottom, #222, #515050));
	color: #9b9b9b;
}
@mixin newCommonLink_h {
	@include background-image(linear-gradient(bottom,#616060, #9b9999));
	color: #000;
}
@mixin newCommonLink_a {
	// border-top: 1px solid #000;
	@include background-image(linear-gradient(bottom,#030303, #222121));
	color: #9b9b9b;
}
		.search-b A,
		.bblock-001_2 A,
		.search-handlers A {
			padding: 0 5px;
			/*float: left;*/
			/*width: 22%;*/
			height: 16px;
			line-height: 16px;
			display: inline-block;
			margin: 0 10px 2px 0;
			font-weight: normal;
			// border: 1px solid transparent;
			text-decoration: none;

			line-height: 16px;
			color: #9b9b9b;
			border: 1px solid transparent;
			// @include newCommonLink;
		}
		.bblock-001_2 {
			padding-bottom: 10px;
		}
		.search-b A,
		.bblock-001_2 A {
			margin: 0 5px 6px 0;
			border-color: #eee;
			background: #f4f4f4;
			font-weight: bold;
			color: #999;

			@include newCommonLink;
		}
		.search-handler LI:nth-child(1) A {
			/*width: auto;*/
			/*height: 16px;*/
			/*line-height: 16px;*/
			display: block;
			float: none;
			color: #9B9B9B;
		}
		.search-handler A.active {
			font-weight: normal;
		}
		.search-handler LI:nth-child(1) A.active {
			font-weight: bold;
			color: #000;
		}
		.search-b A:hover,
		.bblock-001_2 A:hover {
			background: #e4e4e4;
			// border: 1px solid #D0DADF;

			@include newCommonLink_h;
		}
		.search-handler A.active,
		.search-b A.selected,
		.search-b2 LI.selected,
		.bblock-001_2 A.selected {
			color: #9b9b9b !important;
			@include newCommonLink_a;
		}
		.search-handler A {
			display: block;
			}
		.search-handler A.active {
			border: 1px solid #000;
			}
		.b-search UL {
			margin-left: 0;
			padding: 0;
		}
		.search-b2 UL {
			margin-right: 160px;
		}
		.search-b2 LI {
			list-style: none;
			/*padding: 0 3px;*/
			line-height: 16px;
			// border: 1px solid #eee;
			background: #f4f4f4;
			margin-bottom: 5px;

			@include newCommonLink;
		}
		.search-b2 LI.selected A {
			color: #9b9b9b;
		}
		.search-b2 A {
			display: block;
			line-height: 16px;
			padding: 0 3px;
			text-decoration: none;
			color: #999;
			margin-bottom: 0;
		}
		.search-b A.selected,
		.bblock-001_2 A.selected {
			font-weight: bold;
			color: #000;
		}
		.b-search H5 {
			margin: 0 0 0 4px;
			font-size: 14px;
			font-weight: bold;
			font-family: $font-FranklinGothic_MediumCond;
			margin-bottom: 15px;
			color: #7D0004;
			// text-shadow: 1px 1px 0 #000;
		}
.scrollbar-wrapper {
	position: relative;
	/*height: 192px;*/
	/*overflow: auto;*/
}
.scrollbar-wrapper LI {
	height: 16px;
	list-style: none;
}
