.video {
	width: 698px;
	margin-left: 18px;
	margin-bottom: 18px;
	padding: 18px 0;
	position: relative;
	}
	.video.noanim {
		.video-list,
		.video-handler {
			@include transition(none);
			}
		}
	.video-navigator {
		margin-bottom: 10px;
		color: #5E5E5E;
		text-transform: uppercase;

		A {
			color: #5E5E5E;
			text-decoration: none;
			border-bottom: 1px dashed #5e5e5e;
			}
		A._current {
			color: #fff;
			border-color: transparent;
			}
		}
	.video-container {
		width: 698px;
		height: 174px;
		overflow: hidden;
		position: relative;
		}
		.video-list {
			min-width: 800px;
			// display: none;
			text-align: center;
			top: 0;
			left: 698px;
			position: absolute;
			opacity: 0;
			@include transition(left 0.3s ease-in-out);
			@extend .clearfix;
			}
		.video-list._current {
			// display: block;
			z-index: 5000;
			opacity: 1;
			}
			.video-list LI {
				width: 157px;
				margin-right: 23px;
				float: left;
				}
				.video-item-preview {
					width: 156px;
					height: 104px;
					padding: 4px 0 0 3px;
					margin-bottom: 10px;
					position: relative;
					@include box-sizing(border-box);
					background: url(../images/video-bg.png) no-repeat 0 0;
					}
				.video-item-preview:after {
					width: 38px;
					height: 38px;
					display: block;
					content: "\00a0";
					position: absolute;
					top: 34px;
					left: 58px;
					background: rgba(#000, 0.7) url(../images/video-play.png) no-repeat 50%;
					}
			.video-list A {
				color: #999;
				text-decoration: none;
				}
			.video-list A:hover {
				color: #7E0004;
				text-decoration: underline;

				.video-item-preview:after {
					background: rgba(#b8b7b7, 0.7) url(../images/video-play_h.png) no-repeat 50%;
					}
				}
	.video-tracker {
		width: 340px;
		height: 32px;
		margin: 15px auto 0;
		position: relative;
		}
		.video-track {
			height: 24px;
			margin-top: 5px;
			background: #3B3A3A;
			position: relative;
			border-radius: 24px;
			}
			.video-handler {
				width: 30px;
				height: 20px;
				border: 1px solid #595757;
				@include background(linear-gradient(bottom, #000, #333131));
				border-radius: 7px;
				cursor: pointer;
				position: absolute;
				top: 1px;
				left: 43px;
				@include transition(left 0.3s ease-in-out);
				}
		.video-next,
		.video-prev {
			width: 32px;
			height: 32px;
			position: absolute;
			top: -5px;
			cursor: pointer;
			background: url(../images/video-arrows.png) no-repeat 0 0;
			}
		.video-prev {
			left: 0;
			}
		.video-next {
			right: 0;
			background-position: 100% 0;
			}

	.video-container.topmargin {
		margin: 40px 0 0 0;
		}
