@font-face {
	font-family: 'franklin_gothic_mediumregular';
	src: url('../fonts/FranklinGothic_MediumCond-webfont.eot');
	src: url('../fonts/FranklinGothic_MediumCond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FranklinGothic_MediumCond-webfont.woff') format('woff'),
		 url('../fonts/FranklinGothic_MediumCond-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro-SemiboldCond';
	src: url(../fonts/MyriadPro-SemiboldCond.otf);
	font-weight: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url(../fonts/MyriadPro-Regular.otf);
	font-weight: normal;
	line-height: 1.5;
}

@font-face {
	font-family: 'MyriadPro-Cond';
	src: url(../fonts/MyriadPro-Cond.otf);
	font-weight: normal;
}

$font-MyriadPro-SemiboldCond: 'MyriadPro-SemiboldCond';
$font-MyriadPro: 'Myriad Pro';
$font-MyriadPro-Cond: MyriadPro-Cond;
$font-FranklinGothic_MediumCond: 'franklin_gothic_mediumregular', Arial;
