$size-maxWidth: 1400px;
$size-minWidth: 1090px;
$size-innerWidth: 1000px;
$size-deltaWidth: ($size-minWidth - $size-innerWidth) / 2;

// Content:
$border-size: 202px;

@mixin reset-input($color: #fff, $bgcolor: transparent) {
	padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
	background-color: $bgcolor;
	border-radius: 0;
	color: $color;

	&:focus {
		outline: none;
		}
	}

._fll {
	float: left;
	}
._flr {
	float: right;
	}
.clearboth {
	clear: both;
	}

.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
		}
	&:after {
		clear: both;
		}
	}
