@import "compass";

@include global-reset;

@import "options";
@import "fonts";

BODY {
	font-family: Arial;
	font-size: 13px;
	line-height: 20px;
	color: #999;
	background: #000;
	}

A, INPUT, TEXTAREA, IMG {
	outline: none;
	}
IMG {
	border: 0;
	}

#page {
	max-width: $size-maxWidth;
	min-width: $size-minWidth;
	margin: auto;
	overflow: hidden;
	// background: url(../images/header.png) no-repeat 50% 0;
	background: url(../images/header-empty.jpg) no-repeat 50% 0;
	}
// @TODO: .wrapper is unused
.wrapper {
	width: $size-minWidth;
	margin: auto;
	position: relative;
	}

.search {
	INPUT {
		@include reset-input(#5e5e5e, #000)
		}
	INPUT[type="submit"] {
		width: 23px;
		height: 23px;
		background: url(../images/icon-search.png) no-repeat 50% 3px;
		}
	INPUT[type="text"] {
		width: 200px;
		height: 23px;
		padding: 0 9px;
		border: 1px solid rgba(#4b4b4b, 0.76);
		border-radius: 4px;
		@include box-sizing(border-box);
		font-size: 10px;
		line-height: 23px;
		}
	INPUT[type="text"]::-webkit-input-placeholder {
		color: #5E5E5E;
	}
	INPUT[type="text"]:-moz-placeholder {}
		color: #5E5E5E;
	}

.header {
	height: 240px;
	position: relative;
	}
	.header-logo {
		width: 100%;
		// width: 260px;
		// height: 180px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -50%;
		line-height: 180px;

		IMG {
			display: inline-block;
			vertical-align: middle;
			}
		}
	.header-slogan {
		width: 283px;
		height: 82px;
		overflow: hidden;
		position: absolute;
		top: 73px - 4px;
		left: 50%;
		z-index: 7000;
		margin-left: - $size-innerWidth / 2;
		// background: url(../images/header-slogan.png) no-repeat 0 4px;
		// font-size: 0;
		// color: transparent;
		// line-height: 1000px;
		font-size: 16px;
		// font-family: $font-MyriadPro-Cond;
		color: #DA9D64;
		line-height: 20px;
		// font-weight: normal;

		p {
			position: relative;
			display: inline-block;
			&:nth-child(2n + 1) {
				// color: #fde387;
				}
			&:after {
				width: 100%;
				content: "";
				height: 11px;
				// display: inline-block;
				overflow: hidden;
				top: 0;
				left: 0;
				color: #f0d7a5;
				position: absolute;
				background: transparent;
				z-index: 100;
				}
			&:nth-child(1):after {
				content: "Идите же ко всем народам и";
				}
			&:nth-child(2):after {
				content: "сделайте всех Моими учениками.";
				}
			&:nth-child(3):after {
				content: "Крестите людей во имя Отца";
				}
			&:nth-child(4):after {
				content: "и Сына и Святого Духа /Матф. 28:19/";
				}
			}
		i {

			}
		// B {
		// 	// height: 9px;
		// 	display: block;
		// 	overflow: hidden;
		// 	top: 0;
		// 	left: 0;
		// 	color: #DA9D64;
		// 	position: absolute;
		// 	text-shadow: 1px 1px #000;
		// 	// line-height: -18px;
		// 	}
		}
	.header-search {
		width: 202px;
		height: 25px;
		position: absolute;
		top: 121px;
		right: 50%;
		margin-right: - $size-innerWidth / 2;

		INPUT[type="submit"] {
			position: absolute;
			right: 1px;
			top: 1px;
			}
		}
	// @TODO: Change font-family
	.header-menu {
		width: $size-innerWidth;
		height: 36px;
		// overflow: hidden;
		position: absolute;
		z-index: 5000;
		top: 180px;
		left: 50%;
		margin-left: - $size-innerWidth / 2;
		font-size: 16px;
		text-transform: uppercase;
		color: #B6B6B6;
		line-height: 36px;
		text-align: center;
		font-family: $font-MyriadPro-Cond;

		A {
			height: 36px;
			display: block;
			color: #B6B6B6;
			text-decoration: none;
			}
		}
		.header-menu-item {
			height: 36px;
			margin-right: 8px;
			float: left;
			position: relative;

			&:after {
				width: 8px;
				height: 16px;
				display: block;
				content: "\00a0";
				position: absolute;
				top: 9px;
				right: -8px;
				background: url(../images/header-menu-devider.png) no-repeat 0 0;
				}

			&._i1 {width: 149px;}
			&._i2 {width: 120px;}
			&._i3 {width: 118px;}
			&._i4 {width: 115px;}
			&._i5 {width: 156px;}
			&._i6 {width: 146px;}
			&._i7 {width: 146px; margin-right: 0;}
			}
			.header-menu-item UL {
				width: 200px;
				position: absolute;
				top: 36px;
				left: 0;
				z-index: 1000;
				background: #1f1f1f;
				font-size: 12px;
				text-align: left;
				border-radius: 0 0 5px 5px;
				overflow: hidden;
				display: none;
				font-family: Arial;
				// @include transition(all 0.3s ease-in-out);

				A {
					height: auto !important;
					padding: 5px 10px;

					&:hover {
						background: #111;
						}
					}
				}
			.header-menu-item:nth-child(1) UL {
				left: 5px;
				}
			.header-menu-item:nth-last-child(1) UL {
				left: auto;
				right: 0;
				}
			.header-menu-item LI {
				height: auto !important;
				line-height: 16px;
				text-transform: none;
				border-bottom: 1px solid #000;

				&:nth-last-child(1),
				&:nth-last-child(1) A {
					border-radius: 0 0 5px 5px;
					}
				}

.middle {
	width: $size-innerWidth;
	margin: auto;
	position: relative;

	&:after, &:before {
		width: $border-size;
		display: block;
		content: "\00a0";
		position: absolute;
		top: 0;
		bottom: 0;
		background: url(../images/content-side.png) repeat-y 0 240px;
		}
	&:after {
		background-position: -$border-size -256px;
		right: - $border-size;
		}
	&:before {
		background-position: 0 -256px;
		left: - $border-size;
		}
	}

	.middle-bg {
		width: 230px;
		height: 61px;
		top: 8px;
		right: 0;
		position: absolute;
		background: url(../images/content-top.png) no-repeat 0 0;
		}

.main {
	min-height: 240px;
	position: relative;
	top: -8px;
	z-index: 1000;

	&:after, &:before {
		width: $border-size;
		height: 240px;
		display: block;
		content: "\00a0";
		position: absolute;
		top: -8px;
		background: url(../images/content-side-top.png) no-repeat;
		}
	&:after {
		right: - $border-size;
		background-position: 100% 0;
		}
	&:before {
		left: - $border-size ;
		background-position: 0 0;
		}
	}


// UI
H2.title {
	height: 35px;
	margin-bottom: 5px;
	padding: 0 23px;
	top: 5px;
	@include box-sizing(border-box);
	position: relative;
	z-index: 1000;
	background: url(../images/ui-header.png) repeat-x 0 0;
	// @TODO: font-family
	font-family: $font-FranklinGothic_MediumCond;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
	color: #DA9D64;
	line-height: 35px;
	text-shadow: 2px 2px 0 rgba(#000, 0.4);

	&:after, &:before {
		width: 23px;
		height: 46px;
		display: block;
		content: "\00a0";
		position: absolute;
		top: -5px;
		background: url(../images/ui-header-side.png) no-repeat;
		}
	&:before {
		left: 0;
		background-position: 0 0;
		}
	&:after {
		right: 0;
		background-position: 100% 100%;
		}
	B {
		overflow: hidden;
		position: relative;
		display: inline-block;
		}
	}
	H2.title._txt B {
		height: 14px;
		top: 2px;
		text-indent: -1000px;
		background: url(../images/ui-txt.png) no-repeat 0 0;
		}
	H2.title._txt-menu B {
		width: 45px;
		background-position: 0 0;
		}
	H2.title._txt-photoalbum B {
		width: 98px;
		background-position: -45px 0;
		}
	H2.title._txt-articles B {
		width: 50px;
		background-position: -143px 0;
		}
	H2.title._txt-video B {
		width: 97px;
		background-position: -193px 0;
		}

@import "b_sidebar";

.content {
	width: 745px;
	float: right;
	padding-top: 22px;
	@extend .clearfix;
	}

	.content .title {
		margin-right: 12px;
		padding-left: 33px;
		text-align: left;
		}

	.content.short-inner {
		width: 745px - 14px;
		padding: 25px 0 0 14px;
		}
	.content.inner {
		width: 745px - 24px;
		padding: 25px 0 0 24px;
		}

	.content-menu {
		margin: 40px 0 0 0;
		font-size: 11px;
		// letter-spacing: -1px;
		width: 690px;
		@extend .clearfix;
		}

		.content-menu A {
			border: 1px solid #404040;
			@include background-image(linear-gradient(bottom, #161515, #515050));
			color: #9b9b9b;
			padding: 0 15px;
			line-height: 22px;
			text-decoration: none;
			text-transform: uppercase;
			float: left;
			margin: 0 5px 5px 0;
			}

		.content-menu A._active {
			@include background-image(linear-gradient(bottom,#030303, #222121));
			}

		.content-menu A:hover {
			@include background-image(linear-gradient(bottom,#616060, #9b9999));
			color: #000;
			}

.content-title {
	height: 18px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 18px;
	text-transform: uppercase;
	// color: #DA9D64;
	color: #DA9D64;
	font-family: $font-MyriadPro-Cond;

	i {
		height: 8px;
		display: block;
		overflow: hidden;
		top: 0;
		left: 0;
		color: #f0d7a5;
		position: absolute;
		// background: #000;
		z-index: 100;
		}
	// B {
	// 	// height: 9px;
	// 	display: block;
	// 	overflow: hidden;
	// 	top: 0;
	// 	left: 0;
	// 	color: #DA9D64;
	// 	position: absolute;
	// 	// line-height: -18px;
	// 	}
	}
	.content-title.inner {
		margin: 0 0 0 10px;
		}
	._content-title {
		B {
			display: block !important;
			position: absolute !important;
			}
		.content-title-h1 {
			top: 5px;
			}
		}
	.content-title-h1 {
		height: 18px;
		position: relative;
		display: inline-block;
		font-size: 18px;
		overflow: hidden;
		font-family: $font-MyriadPro-Cond;
		text-transform: uppercase;
		color: #DA9D64;
		line-height: 1;

		&:after {
			top: 0;
			left: 0;
			display: block;
			// color: #DA9D64;
			position: absolute;
			overflow: hidden;
			// z-index: 500;

			height: 8px;
			color: #f0d7a5;
			z-index: 501;

			content: "Меню";
			}
		&._type-2:after {
			content: "Фотоальбом";
			}
		&._type-3:after {
			content: "Статьи";
			}
		&._type-4:after {
			content: "Видео архив";
			}
		}

@import "b_album";

@import "b_video";

.articles {
	width: 698px;
	margin-left: 18px;
	margin-bottom: 18px;
	padding-top: 16px;
	@extend .clearfix;
	}
	.articles LI {
		width: 226px;
		padding: 6px 16px 20px;
		@include box-sizing(border-box);
		float: left;
		border: 1px solid #151515;
		background: #171717;
		}
	.articles LI:nth-child(2) {
		margin: 0 7px;
		}
	.articles TIME {
		margin-bottom: 5px;
		display: block;
		font-size: 11px;
		font-style: italic;
		color: #7E0004;
		}
	.articles A {
		font-size: 16px;
		line-height: 20px;
		color: #757575;
		}
	.articles P {
		margin-top: 5px;
		font-size: 13px;
		color: #5A5A5A;
		}

.article {
	position: relative;
	line-height: (20/13)em;
	@extend .clearfix;
	}
	.article h1.content-title {
		margin-top: 15px;
		}
	.article P {
		margin-top: 15px;
		margin-right: 35px;
		}
	.article-readmore {
		display: inline-block;
		margin-top: 5px;
		padding-left: 15px;
		font-size: 13px;
		line-height: (20/13)em;
		color: #7E0004;
		font-style: italic;
		background: url(../images/ui-arrow-right.png) no-repeat 0;

		A {
			color: #7E0004;
			text-decoration: none;
			border-bottom: 1px solid #7E0004;
			}
		}
	.article-photo {
		width: 231px;
		height: 231px;
		margin-right: 15px;
		background: url(../images/content-photo-border.png) no-repeat;
		}
		.article-photo IMG {
			margin: 13px 0 0 18px;
			border: 3px solid #494949;
			}
.controlers {
	padding: 0 0 0 3px;
	margin: 6px 30px 10px 18px;
	border: 1px solid #5a5858;
	border-radius: 1px;
	background: #171717;
	line-height: 34px;
	@extend .clearfix;
	}
	.controlers LI {
		float: left;
		}
	.controlers A {
		display: block;
		color: #7D0004;
		}
	.controlers-links {
		font-size: 11px;
		font-weight: bold;
		color: #7D0004;
		text-transform: uppercase;
		}
		.controlers-links A {
			padding: 0 11px;
			}
	.controlers-fsize {
		margin-top: 4px;
		}
		.controlers-fsize A {
			width: 28px;
			height: 25px;
			background: url(../images/ui-fsize.png) no-repeat;
			}
		.controlers-fsize LI {
			margin-right: 5px;
			}
			.controlers-fsize-up A {
				background-position: 0 0;
				}
			.controlers-fsize-down A {
				background-position: 0 -25px;
				}

.i-button {
	float: left;
	margin-right: 10px;
	text-decoration: none;
	color: #9b9b9b !important;
	font-weight: bold;
	padding: 5px 11px;
	font-size: 12px;
	// border-radius: 10px;
	// border: 1px solid #444;
	// background-color: #555;
	// box-shadow: 0 4px 0 #444, 0 4px 3px #333, inset 0 0 9px rgba(#fff, 0.2);
	// box-shadow: 0 5px 5px #444, 0 4px 0 #666, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
	position: relative;
	// border-bottom: 1px solid rgba(255,255,255,0.2);
	display: inline-block;
	// text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	// margin-bottom: 10px;

	border-radius: 2px;
	border: 1px solid #000;
	@include background(linear-gradient(bottom, #222222, #515050));
	text-shadow: 1px 1px 0 #000;
	}


.i-button:hover {
	color: #000 !important;
	text-shadow: 0 1px 0 rgba(#fff, 0.2);
	@include background(linear-gradient(bottom, #616060, #9b9999));
	// background: #666;
	// box-shadow: 0 4px 0 #444, 0 4px 3px #333, inset 0 0 9px rgba(#fff, 0.2);
	// box-shadow: 0 5px 5px #313131, 0 4px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
	}

.i-button:active {
	text-shadow: 0 -1px 0 rgba(#fff, 0.2);
	@include background(linear-gradient(top, #616060, #777));
	// top: 2px;
	// box-shadow: 0 2px 0 #444, 0 2px 3px #333, inset 0 0 9px rgba(#fff, 0.2);
	// box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
	}

@import "b_share";
@import "b_footer";
@import "b_article_book";
@import "b_contacts";
@import "b_slider";
@import "b_search";
@import "b_mapcontainer";
@import "b_galery";
@import "b_images";

.highslide-container {z-index: 99000 !important;}
// #galery {
// 	width: 100%;
// 	height: 100%;
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	z-index: 90000;
// 	background: rgba(#000, 0.5);
// 	text-align: center;
// 	display: none;
// 	cursor: pointer;

// 	.img-wrapper,
// 	.img-empty {
// 		zoom: 1;
// 		display: inline-block;
// 		vertical-align: middle;
// 		}
// 	.img-empty {
// 		width: 0;
// 		height: 100%;
// 		}

// 	IMG {
// 		max-width: 95%;
// 		max-height: 95%;
// 		display: inline-block;
// 		border: 3px solid #555;
// 		}
// 	}

.cont {
	margin: 0 20px 20px;

	H2 {
		display: inline-block;
		margin-left: -7px;
		padding: 7px;
		font-size: 20px;
		background: #222;
		}
	P {
		margin-bottom: 20px;
		font-size: 15px;
		}
	}

.book-nav {
	margin: 0 18px 20px;
	font-size: 0;

	A {
		margin-top: 5px;
		// padding: 2px 8px 1px;
		margin-right: 5px;
		display: inline-block;
		font-size: 13px;
		border: 1px solid #222;
		color: #5e5e5e;
		background: #1a1a1a;
		text-decoration: none;
		padding: 2px 0 1px;
		text-align: center;

		&:hover {
			background: #2a2a2a;
			}
		&._current {
			background: #2a2a2a !important;
			}
		}
	}
	.book-nav-controls A {
		width: 182px;
		}
	.book-nav-pages A {
		width: 38px;
		}

.wa_table{
	width: 450px;
	position: relative;
	top: 10px;
	z-index: 10000;
	// float: right;
	/*margin-left: 350px;*/
	border:1px solid #222;
	border-bottom:none;
	border-radius:3px;
	border-spacing:0;
	margin-left: 260px;
	margin-bottom:36px;
	// box-shadow: 0px 1px 10px #ADA7A7;

	B {
		font-weight: bold;
		}

	A {
		color: #5E5E5E;
		}
}
.wa_table th,
.wa_table thead tr td{
	color:#5e5e5e;
	font-size:14px;
	font-weight:bold;
	padding:9px 10px;
	line-height:20px;
	@include background(linear-gradient(bottom, #030303, #222121));
	border-bottom: 1px solid #222;
	text-shadow: 1px 1px 0 #000;
	// background:#999;

	/* background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxY2ZkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOWMyYzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	/*background:-moz-linear-gradient(top, #c1cfd4 0%, #b9c2c5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1cfd4), color-stop(100%,#b9c2c5));
	background:-webkit-linear-gradient(top, #c1cfd4 0%,#b9c2c5 100%);
	background:-ms-linear-gradient(top, #c1cfd4 0%,#b9c2c5 100%);
	background:linear-gradient(to bottom, #c1cfd4 0%,#b9c2c5 100%);*/
}
.wa_table tbody tr td{
	border-bottom:1px solid #222;
	padding:10px;
	background:#1a1a1a;
	font-size:14px;
	vertical-align: top;
}
.wa_table tbody tr:last-child td:first-child{border-radius:0 0 0 2px}
.wa_table tbody tr:last-child td:last-child{border-radius:0 0 2px 0}
.wa_table tbody tr td.bdr{border-right:1px solid #c1ccd0}

.wa_table_width_100 tr td input[type=text],
.wa_table_width_100 tr td select,
.wa_table_width_100 tr td textarea{
	width:100%;
	min-width:none;
	max-width:none;
}
.wa_table SPAN {
	/*top: px;*/
	padding-bottom: 10px;
	font-size: 12px;
	position: relative;
}
