<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<title></title>
		<%= stylesheet_link_tag "all" %>
		<%= javascript_include_tag  "highslide-with-gallery.js" %>
		<script type="text/javascript">
			hs.graphicsDir = 'graphics/';
			hs.align = 'center';
			hs.transitions = ['expand', 'crossfade'];
			hs.outlineType = 'rounded-white';
			hs.wrapperClassName = 'controls-in-heading';
			hs.fadeInOut = true;
			//hs.dimmingOpacity = 0.75;

			// Add the controlbar
			if (hs.addSlideshow) hs.addSlideshow({
				//slideshowGroup: 'group1',
				interval: 5000,
				repeat: false,
				useControls: true,
				fixedControls: false,
				overlayOptions: {
					opacity: 1,
					position: 'top right',
					hideOnMouseOut: false
				}
			});
		</script>
	</head>

	<body>
		<div id="page">
			<div class="header">
				<div class="header-slogan"><p>Идите же ко всем народам и</p><p>сделайте всех Моими учениками.</p><p>Крестите людей во имя Отца</p><p>и Сына и Святого Духа /Матф. 28:19/</p></div>
				<ul class="header-menu">
					<li class="header-menu-item _i1">
						<a href="">Главная</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i2">
						<a href="">Статьи</a>
						<ul>
							<li><a href="">asd asd a sf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i3">
						<a href="">Книги</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i4">
						<a href="">Видео</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i5">
						<a href="">Фотоальбом</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i6">
						<a href="">Интервью</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
					<li class="header-menu-item _i7">
						<a href="">Контакты</a>
						<ul>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
							<li><a href="">asd asd a sf kashdjf sajf bsaljf</a></li>
						</ul>
					</li>
				</ul>
				<div class="header-logo">
					<%= image_tag "logo-02.png" %>
				</div>
				<div class="header-search search">
					<form>
						<input type="text" placeholder="поиск" name="query">
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="middle">
				<div class="main">

<%= yield %>

					<div class="sidebar">
						<h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1">Меню</div></h2>
						<ul class="sidebar-list" id="menu-i1">
							<li>
								<a href="">информация о сайте</a>
								<ul>
									<li><a href="">one</a></li>
								</ul>
							</li>
							<li>
								<a href="">Библия, читаем</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Конспекты</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Мысли</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Дневник</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Свидетельства</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Материал Инкантера</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Материал Ведения</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Архив материалов</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Архив файлов</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Гостевая книга</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Новости</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
						</ul>

						<h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1">Меню</div></h2>
						<ul class="sidebar-list" id="menu-i2">
							<li>
								<a href="">информация о сайте</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Библия, читаем</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Конспекты</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Мысли</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Дневник</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Свидетельства</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Материал Инкантера</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Материал Ведения</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Архив материалов</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Архив файлов</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Гостевая книга</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
							<li>
								<a href="">Новости</a>
								<ul>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
									<li><a href="">one</a></li>
								</ul>

							</li>
						</ul>
					</div>
					<div class="middle-bg"></div>
					<div class="clearboth"></div>
				</div>

				<div class="footer">
					<div class="footer-social">
						<div class="footer-social-item _fll">
							<span>Мы здесь:</span>
							<ul>
								<li class="_vk"><a href="">vk</a></li>
								<li class="_ok"><a href="">ok</a></li>
								<li class="_fb"><a href="">fb</a></li>
								<li class="_twi"><a href="">twi</a></li>
								<li class="_gplus"><a href="">gplus</a></li>
								<li class="_mail"><a href="">mail</a></li>
								<li class="_add"><a href="">add</a></li>
							</ul>
						</div>
						<div class="footer-social-item _flr">
							<span>Поделиться:</span>
							<ul>
								<li class="_vk"><a href="">vk</a></li>
								<li class="_ok"><a href="">ok</a></li>
								<li class="_fb"><a href="">fb</a></li>
								<li class="_twi"><a href="">twi</a></li>
								<li class="_gplus"><a href="">gplus</a></li>
								<li class="_lj"><a href="">lj</a></li>
								<li class="_my"><a href="">my</a></li>
								<li class="_blogger"><a href="">blogger</a></li>
								<li class="_mail"><a href="">mail</a></li>
								<li class="_email"><a href="">email</a></li>
								<li class="_print"><a href="">print</a></li>
								<li class="_add"><a href="">add</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-menu">
						<ul>
							<li><a href="">Главная</a></li>
							<li><a href="">Статьи</a></li>
							<li><a href="">Книги</a></li>
							<li><a href="">Видео</a></li>
							<li><a href="">Фотоальбом</a></li>
							<li><a href="">Интервью</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					<div class="footer-content">
						<div class="footer-services footer-content-item">
							<h4>Услуги</h4>
							<ul>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Сылка</a></li>
							</ul>
						</div>
						<div class="footer-issues footer-content-item">
							<h4>Проблемы</h4>
							<ul>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Маленькая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Большая сылка</a></li>
								<li><a href="">Сылка</a></li>
								<li><a href="">Сылка</a></li>
							</ul>
						</div>
						<div class="clearboth"></div>
					</div>
				</div>
			</div>
		</div>

		<%= javascript_include_tag  "all" %>
	</body>
</html>
