					<div class="content inner">
						<h1 class="content-title">книги</h1>
						<div class="content-menu map-handlers">
							<a href="" class="content-menu-button _active">рай</a>
							<a href="" class="content-menu-button">рай и ад</a>
							<a href="" class="content-menu-button">ад</a>
							<a href="" class="content-menu-button">бог</a>
							<a href="" class="content-menu-button">ангелы</a>
							<a href="" class="content-menu-button">демоны</a>
							<a href="" class="content-menu-button">духовная война</a>
							<a href="" class="content-menu-button">проклятие и освобождение</a>
							<a href="" class="content-menu-button">разновидности тьмы</a>
							<a href="" class="content-menu-button">последние времена</a>
							<a href="" class="content-menu-button">разное</a>
							<a href="" class="content-menu-button">интересно</a>
							<a href="" class="content-menu-button">все разделы</a>
						</div>

						<div class="map-container">
							<ul class="map-list">
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">рай</h1>
									</div>
									<div class="book-list" style="display: block;">
										<ul>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">рай и ад</h1>
									</div>
									<div class="book-list" style="display: block;">
										<ul>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">ад</h1>
									</div>
									<div class="book-list" style="display: block;">
										<ul>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
