					<div class="content">
						<div class="article">
							<div class="article-photo _fll"><img src="images/content-photo.png"></div>
							<table class="wa_table">
								<thead>
									<tr>
										<td colspan="2">О форматах электронных книг</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2"><b>Формат ePub</b> лучше всего подходит для -<br>
											<span>iPad и iPhone
											<br>Android
											<br>Windows 8, 7, Vista, XP, Mac OS X, Linux</span></td>
									</tr>
									<tr>
										<td colspan="2"><b>Формат fb2</b> лучше всего подходит для -<br>
											<span>Android
											<br>Windows 8, 7, Vista, XP, Mac OS X, Linux</span></td>
									</tr>
									<tr>
										<td colspan="2"><b>Формат mobi</b> лучше всего подходит для -<br>
											<span>Android
											<br>Amazon Kindle (семейство электронных устройств)</span></td>
									</tr>
									<tr>
										<td colspan="2"><b>Более подробно о форматах электронных книг <a href="#">читайте тут</a></b> </td>
									</tr>
								</tbody>
							</table>
							<table class="wa_table">
								<thead>
									<tr>
										<td colspan="2">Скачать книгу: Боб Джонс - Путешествие на небеса</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2"><a href="#" class="i-button">ePub</a><a href="#" class="i-button">fb2</a><a href="#" class="i-button">mobi</a></td>
									</tr>
								</tbody>
							</table>

							<div class="cont">
								<h2>Содержание</h2>
								<p>Я решила, что у меня начинается какой-то психоз. Я все-таки врач. Я училась на врача, училась в мединституте, отличница. Думаю: так, надо на кафедру психиатрии, все-таки помогут. Потом думаю: да, и сразу скажут: “шизофрения”. Нет, не пойду на кафедру психиатрии. Вот в таком состоянии я бегу домой. Потом думаю: нет, надо все-таки в церковь - статья-то не получается. Надо поговорить с батюшкой, рассказать ему. Нет. Я в таких была сомнениях. Увидела храм. Зашла в него, и батюшке начала высказывать, но батюшка не понял меня. Он меня выгнал. Он сказал: “Или кайся, или уходи отсюда”. Но я предпочла встать на колени, и говорю: “Только я не грешная. Мне не в чем каяться. Мне совершенно не в чем каяться. Я не грешила”. Батюшка ответил: “Безгрешных нет ни одного”, - он накрыл меня стихарью - “Повторяй за мной молитву грешника”. Я начала повторять за ним молитву грешника, и после каждого слова я говорила: “А я не грешила, этого не было”. В конце-концов батюшка схватил меня за шиворот и вытащил из церкви, и сказал: “Уходи, безбожница, отсюда. Ты пришла развращать народ Божий”. Обидно. Больно. Отсюда меня выгнали. Иду домой. Пока я дошла домой, папе уже, видно, сообщили. Знаете, особый отдел работал очень хорошо. И папа сказал: “Дочь, ты хочешь, чтобы я пошел в лагерь, и твоя сестра осталась сиротой, и ты?”. Я говорю: “Нет, папа, я не хочу” - “А зачем ты пошла в церковь?”. Я говорю: “Ну, как, мне нужна Библия”. Папа взялся за голову: “Ей Библия нужна. Уходи”, - говорит, - “Уходи. Пусть хотя бы все образуется”. Иду я по улице и плачу. Еще утром у меня была семья, был дом, был институт. Все у меня было, а теперь у меня уже ничего нет, спасибо Тебе, Господи…. Ответа нет. Думаю: ну вот, значит моя “крыша” на месте, мозги у меня в порядке, будем образовываться. Иду, плачу, сам себя жалею.</p>
								<h2>Содержание</h2>
								<p>Я решила, что у меня начинается какой-то психоз. Я все-таки врач. Я училась на врача, училась в мединституте, отличница. Думаю: так, надо на кафедру психиатрии, все-таки помогут. Потом думаю: да, и сразу скажут: “шизофрения”. Нет, не пойду на кафедру психиатрии. Вот в таком состоянии я бегу домой. Потом думаю: нет, надо все-таки в церковь - статья-то не получается. Надо поговорить с батюшкой, рассказать ему. Нет. Я в таких была сомнениях. Увидела храм. Зашла в него, и батюшке начала высказывать, но батюшка не понял меня. Он меня выгнал. Он сказал: “Или кайся, или уходи отсюда”. Но я предпочла встать на колени, и говорю: “Только я не грешная. Мне не в чем каяться. Мне совершенно не в чем каяться. Я не грешила”. Батюшка ответил: “Безгрешных нет ни одного”, - он накрыл меня стихарью - “Повторяй за мной молитву грешника”. Я начала повторять за ним молитву грешника, и после каждого слова я говорила: “А я не грешила, этого не было”. В конце-концов батюшка схватил меня за шиворот и вытащил из церкви, и сказал: “Уходи, безбожница, отсюда. Ты пришла развращать народ Божий”. Обидно. Больно. Отсюда меня выгнали. Иду домой. Пока я дошла домой, папе уже, видно, сообщили. Знаете, особый отдел работал очень хорошо. И папа сказал: “Дочь, ты хочешь, чтобы я пошел в лагерь, и твоя сестра осталась сиротой, и ты?”. Я говорю: “Нет, папа, я не хочу” - “А зачем ты пошла в церковь?”. Я говорю: “Ну, как, мне нужна Библия”. Папа взялся за голову: “Ей Библия нужна. Уходи”, - говорит, - “Уходи. Пусть хотя бы все образуется”. Иду я по улице и плачу. Еще утром у меня была семья, был дом, был институт. Все у меня было, а теперь у меня уже ничего нет, спасибо Тебе, Господи…. Ответа нет. Думаю: ну вот, значит моя “крыша” на месте, мозги у меня в порядке, будем образовываться. Иду, плачу, сам себя жалею.</p>
							</div>

							<div class="book-nav">
								<div class="book-nav-controls">
									<a href="" class="book-nav-prev">Предыдущая</a>
									<a href="" class="book-nav-list">Содержание</a>
									<a href="" class="book-nav-next">Следующая</a>
								</div>
								<div class="book-nav-pages">
									<a href="">1</a>
									<a href="" class="_current">2</a>
									<a href="">3</a>
									<a href="">4</a>
									<a href="">5</a>
									<a href="">6</a>
									<a href="">7</a>
									<a href="">8</a>
								</div>
							</div>
						</div>
						<div class="controlers">
							<ul class="controlers-links _fll">
								<li><a href="" data-type="handler" data-join="bblock-001_1">Расширенный поиск</a></li>
								<li><a href="" data-type="handler" data-join="bblock-001_2">Все теги</a></li>
								<li><a href="">Карта сайта</a></li>
							</ul>
							<ul class="controlers-fsize _flr">
								<li class="controlers-fsize-up" data-max="130"><a href=""></a></li>
								<li class="controlers-fsize-down" data-max="80"><a href=""></a></li>
							</ul>
						</div>

<!--search-->
<div class="search-bBlock">
<div class="bblock-001 bblock-001_1 box-001" style="display: block;">
	<div class="b-search">
		<div class="search-inputs">
			<input class="search-input" type="submit" value="Найти">
			<div class="search-input_text">
				<input class="search-input" type="text" placeholder="Поиск -&gt; уточняйте поиск">
			</div>
		</div>
		<div class="clear"></div>
		<div class="search-handlers">
			<ul class="search-handler">
				<li><a href="">книги</a></li>
				<li><a href="" data-block="01">выбрать разделы</a></li>
				<li><a href="" data-block="02">выбрать теги</a></li>
				<li><a href="" data-block="03">выбрать книги</a></li>
				<li><a href="">снять выделения</a></li>
			</ul>
			<ul class="search-handler">
				<li><a href="">статьи</a></li>
				<li><a href="" data-block="04">выбрать разделы</a></li>
				<li><a href="" data-block="05">выбрать теги</a></li>
				<li><a href="" data-block="06">выбрать статью</a></li>
			</ul>
			<ul class="search-handler">
				<li><a href="">видео</a></li>
				<li><a href="" data-block="07">выбрать разделы</a></li>
				<li><a href="" data-block="08">выбрать теги</a></li>
				<li><a href="" data-block="09">выбрать видео</a></li>
			</ul>
		</div>
		<div class="search-01">
			<div class="search-b search-b-01">
				<h5>Выбираем разделы книг для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-02">
			<div class="search-b search-b-02">
				<h5>Выбираем теги книг для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-03">
			<div class="search-b2 search-b-03" style="display: block;">
				<h5>Выбираем книги для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-04">
			<div class="search-b search-b-04">
				<h5>Выбираем разделы статей для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-05">
			<div class="search-b search-b-05">
				<h5>Выбираем теги статей для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-06">
			<div class="search-b2 search-b-06" style="display: block;">
				<h5>Выбираем статьи для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-07">
			<div class="search-b search-b-07">
				<h5>Выбираем разделы видео для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-08">
			<div class="search-b search-b-08">
				<h5>Выбираем теги видео для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-09">
			<div class="search-b2 search-b-09" style="display: block;">
				<h5>Выбираем видео для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bblock-001 bblock-001_2 box-001" style="display: none;">
	<div class="b-tags">
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
	</div>
</div>
</div>
<!--/search-->

						<h2 class="title _txt _txt-video"><b>Видео архив</b></h2>
						<div class="video">
							<div class="video-navigator">
								<a href="#video-i1" class="_current">Рай</a> :: <a href="#video-i2">Рай и Ад</a>
							</div>
							<div class="video-container">
								<ul class="video-list _current" id="video-i1">
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
								</ul>
								<ul class="video-list" id="video-i2">
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
								</ul>
							</div>
							<div class="video-tracker">
								<div class="video-track"><div class="video-handler"></div></div>
								<div class="video-next"></div>
								<div class="video-prev"></div>
							</div>
						</div>
					</div>

