					<div class="content inner">
						<h1 class="content-title">контакты</h1>
						<div class="contact-text">
							<p>Спасибо, что посетили наш сайт!</p>
							<p>Будем очень рады получить от Вас комментарии, отзывы и предложения, самые интересные из них мы опубликуем на сайте.</p>
							<p>Так же будем рады услышать от Вас вопросы и пожелания по поводу материалов на данном сайте, пишите. Если Вы желаете поучаствовать в развитии данного проекта, также контактируйте.</p>
						</div>
						<span class="contact-form-header">Форма связи</span>
						<form action="" method="post">
							<label class="form-label">
								Ваше имя:*<br>
								<input type="text" class="form-input" value=""><br>
							</label>
							<label class="form-label">
								Ваш E-mail:*<br>
								<input type="text" class="form-input" value=""><br>
							</label>
							<label class="form-label">
								Сообщение:*<br>
								<textarea class="form-textarea" value=""></textarea><br>
							</label>
							<div class="form-captcha">
								<!-- <img src="../images/captcha.png"> -->
								<%= image_tag "captcha.png" %>
								<label class="form-label">
									Введите текст с картинки:*<br>
									<input type="text" class="form-input" value=""><br>
								</label>
							</div>
							<input class="form-input" type="submit" value="отправить">
							<!-- <h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1">Отправить</div></h2> -->
						</form>
					</div>
