					<div class="content">
						<div class="article">
							<div class="article-photo _fll"><img src="images/content-photo.png"></div>
							<h1 class="content-title">Заголовок</h1>
							<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете? Масса пастырей, служителей ведомых людьми! Почему нет успеха? Почему нет роста? Почему нет Силы? Потому что основная масса служителей движутся вне Бога и так до конца и не поняли, что есть служение Богу! За что притесняли Иисуса Христа? За самоволие? Нет именно за точнейшее исполнение воли Бога. И даже в Гефсиманском саду Он молил: «Да минует Меня чаша сия, но не Моя воля будет но Твоя».</p>
							<div class="article-readmore"><a href="">подробнее</a></div>
						</div>
						<div class="controlers">
							<ul class="controlers-links _fll">
								<li><a href="" data-type="handler" data-join="bblock-001_1">Расширенный поиск</a></li>
								<li><a href="" data-type="handler" data-join="bblock-001_2">Все теги</a></li>
								<li><a href="">Карта сайта</a></li>
							</ul>
							<ul class="controlers-fsize _flr">
								<li class="controlers-fsize-up" data-max="130"><a href=""></a></li>
								<li class="controlers-fsize-down" data-max="80"><a href=""></a></li>
							</ul>
						</div>

<!--search-->
<div class="search-bBlock">
<div class="bblock-001 bblock-001_1 box-001" style="display: block;">
	<div class="b-search">
		<div class="search-inputs">
			<input class="search-input" type="submit" value="Найти">
			<div class="search-input_text">
				<input class="search-input" type="text" placeholder="Поиск -&gt; уточняйте поиск">
			</div>
		</div>
		<div class="clear"></div>
		<div class="search-handlers">
			<ul class="search-handler">
				<li><a href="">книги</a></li>
				<li><a href="" data-block="01">выбрать разделы</a></li>
				<li><a href="" data-block="02">выбрать теги</a></li>
				<li><a href="" data-block="03">выбрать книги</a></li>
				<li><a href="">снять выделения</a></li>
			</ul>
			<ul class="search-handler">
				<li><a href="">статьи</a></li>
				<li><a href="" data-block="04">выбрать разделы</a></li>
				<li><a href="" data-block="05">выбрать теги</a></li>
				<li><a href="" data-block="06">выбрать статью</a></li>
			</ul>
			<ul class="search-handler">
				<li><a href="">видео</a></li>
				<li><a href="" data-block="07">выбрать разделы</a></li>
				<li><a href="" data-block="08">выбрать теги</a></li>
				<li><a href="" data-block="09">выбрать видео</a></li>
			</ul>
		</div>
		<div class="search-01">
			<div class="search-b search-b-01">
				<h5>Выбираем разделы книг для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-02">
			<div class="search-b search-b-02">
				<h5>Выбираем теги книг для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-03">
			<div class="search-b2 search-b-03" style="display: block;">
				<h5>Выбираем книги для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-04">
			<div class="search-b search-b-04">
				<h5>Выбираем разделы статей для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-05">
			<div class="search-b search-b-05">
				<h5>Выбираем теги статей для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-06">
			<div class="search-b2 search-b-06" style="display: block;">
				<h5>Выбираем статьи для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-07">
			<div class="search-b search-b-07">
				<h5>Выбираем разделы видео для поиска:</h5>
				<a href="">Рай</a><a href="">Рай и ад</a><a href="">ад</a><a href="">Бог</a><a href="">Ангелы</a><a href="">Демоны</a><a href="">Духовная война</a><a href="">Проклятия и освобождение</a><a href="">Разновидности тьмы</a><a href="">Последние времена</a><a href="">Разное</a><a href="">Интересно</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-08">
			<div class="search-b search-b-08">
				<h5>Выбираем теги видео для поиска:</h5>
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="search-09">
			<div class="search-b2 search-b-09" style="display: block;">
				<h5>Выбираем видео для поиска:</h5>
				<div class="scrollbar-wrapper">
					<div class="scrollbar" style="height: 276px;"><div class="track" style="height: 276px;"><div class="thumb" style="top: 0px; height: 220.8px;"><div class="end"></div></div></div></div>
					<div class="viewport">
						 <div class="overview" style="top: 0px;">

								<ul>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
									<li><a href="">Тестовая книга</a></li>
								</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bblock-001 bblock-001_2 box-001" style="display: none;">
	<div class="b-tags">
				<a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a><a href="">апокалипсис <small>(wiki)</small></a><a href="">евангелизация</a><a href="">армагедон <small>(info)</small></a><a href="">толкование снов</a><a href="">воскрешение мертвых</a><a href="">телепортация</a><a href="">чудеса</a><a href="">знамения</a><a href="">исцеление</a><a href="">евангелие</a><a href="">крещение Духом</a><a href="">оккультизм</a><a href="">колдовство</a><a href="">волшебство</a><a href="">спиритизм</a><a href="">культы</a><a href="">сатанизм</a>
	</div>
</div>
</div>
<!--/search-->

						<!-- <h2 class="title _txt _txt-photoalbum"><b>Фотоальбом</b></h2> -->
						<h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1 _type-2">Фотоальбом</div></h2>
						<div class="album">
							<div class="album-container">
								<ul class="album-list">
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
									<li>
										<div class="album-item-photo"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</li>
								</ul>
							</div>
							<div class="album-next"></div>
							<div class="album-prev"></div>
						</div>

						<!-- <h2 class="title _txt _txt-articles"><b>Статьи</b></h2> -->
						<h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1 _type-3">Статьи</div></h2>
						<ul class="articles">
							<li>
								<time>12 мая 2012</time>
								<a href="">Твои глаза тебе лгут</a>
								<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете? Масса пастырей,</p>
							</li>
							<li>
								<time>12 мая 2012</time>
								<a href="">Твои глаза тебе лгут</a>
								<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете? Масса пастырей,</p>
							</li>
							<li>
								<time>12 мая 2012</time>
								<a href="">Твои глаза тебе лгут</a>
								<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете? Масса пастырей,</p>
							</li>
						</ul>

						<!-- <h2 class="title _txt _txt-video"><b>Видео архив</b></h2> -->
						<h2 class="title _content-title" data-connected="menu-i1"><div class="content-title-h1 _type-4">Видео архив</div></h2>
						<div class="video">
							<div class="video-navigator">
								<a href="#video-i1" class="_current">Рай</a> :: <a href="#video-i2">Рай и Ад</a>
							</div>
							<div class="video-container">
								<ul class="video-list _current" id="video-i1">
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
								</ul>
								<ul class="video-list" id="video-i2">
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
									<li>
										<a href=""><div class="video-item-preview"></div><p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p></a>
									</li>
								</ul>
							</div>
							<div class="video-tracker">
								<div class="video-track"><div class="video-handler"></div></div>
								<div class="video-next"></div>
								<div class="video-prev"></div>
							</div>
						</div>
					</div>

