					<div class="content inner">
						<h1 class="content-title">Карта сайта</h1>
						<div class="content-menu map-handlers">
							<a href="" class="_active">рай</a>
							<a href="">рай и ад</a>
							<a href="">ад</a>
							<a href="">бог</a>
							<a href="">ангелы</a>
							<a href="">демоны</a>
							<a href="">духовная война</a>
							<a href="">проклятие и освобождение</a>
							<a href="">разновидности тьмы</a>
							<a href="">последние времена</a>
							<a href="">разное</a>
							<a href="">интересно</a>
							<a href="">все разделы</a>
						</div>

						<div class="map-container">
							<ul class="map-list">
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">рай</h1>
									</div>
									<div class="video-blocks">
										<ul>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href=""><%= image_tag "002.jpg" %><span>Встреча с Иисусом Христом на Небесах. Свидетельство</span></a>
												<div class="video-blocks-cont"><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
										</ul>
									</div>
								</li>
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">Рай и ад</h1>
									</div>
								</li>
							</ul>
						</div>
					</div>
