					<div class="content short-inner">
						<h1 class="content-title inner">Картинки про рай</h1>
						<div class="images-container topmargin">
							<ul class="image-list _current" style="left: 0;">
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 1 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 2 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 3 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 4 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 5 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 6 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 7 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 8 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 9 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 10 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 11 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 12 image.</div>
								</li>
								<li>
									<a class="highslide" onclick="return hs.expand(this)" href="images/004.jpg"><%= image_tag "003.jpg" %></a>
									<div class="highslide-heading">Heading for the 13 image.</div>
								</li>
							</ul>
						</div>
					</div>
