					<div class="content inner">
						<h1 class="content-title">Карта сайта</h1>
						<div class="content-menu map-handlers">
							<a href="" class="_active">рай</a>
							<a href="">рай и ад</a>
							<a href="">ад</a>
							<a href="">бог</a>
							<a href="">ангелы</a>
							<a href="">демоны</a>
							<a href="">духовная война</a>
							<a href="">проклятие и освобождение</a>
							<a href="">разновидности тьмы</a>
							<a href="">последние времена</a>
							<a href="">разное</a>
							<a href="">интересно</a>
							<a href="">все разделы</a>
						</div>

						<div class="map-container">
							<ul class="map-list">
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">рай</h1>
									</div>
									<div class="book-cats">
										<span>Новый иерусалим</span>
										<a href="" data-join="book-list-01">Книги</a>
										<a href="" data-join="book-list-02">Статьи</a>
										<a href="" data-join="book-list-03">Видео</a>
										<a href="" data-join="book-list-04">Инфо</a>
									</div>
									<div class="book-list" data-connect="book-list-01">
										<ul>
											<li class="book-list-title">Книги</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-02">
										<ul>
											<li class="book-list-title">Статьи</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-03">
										<ul>
											<li class="book-list-title">Видео</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-04">
										<ul>
											<li class="book-list-title">Инфо</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">рай и ад</h1>
									</div>
									<div class="book-cats">
										<span>Новый иерусалим</span>
										<a href="" data-join="book-list-01">Книги</a>
										<a href="" data-join="book-list-02">Статьи</a>
										<a href="" data-join="book-list-03">Видео</a>
										<a href="" data-join="book-list-04">Инфо</a>
									</div>
									<div class="book-list" data-connect="book-list-01">
										<ul>
											<li class="book-list-title">Книги</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-02">
										<ul>
											<li class="book-list-title">Статьи</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-03">
										<ul>
											<li class="book-list-title">Видео</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-04">
										<ul>
											<li class="book-list-title">Инфо</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
								<li class="map-item">
									<div class="article-title-bg">
										<h1 class="content-title">ад</h1>
									</div>
									<div class="book-cats">
										<span>Новый иерусалим</span>
										<a href="" data-join="book-list-01">Книги</a>
										<a href="" data-join="book-list-02">Статьи</a>
										<a href="" data-join="book-list-03">Видео</a>
										<a href="" data-join="book-list-04">Инфо</a>
									</div>
									<div class="book-list" data-connect="book-list-01">
										<ul>
											<li class="book-list-title">Книги</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"</a>
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-02">
										<ul>
											<li class="book-list-title">Статьи</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-03">
										<ul>
											<li class="book-list-title">Видео</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
									<div class="book-list" data-connect="book-list-04">
										<ul>
											<li class="book-list-title">Инфо</li>
											<li><a href="">Борис Пилипчук. "Господь воскресил меня из мертвых"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Боб Джонс. "Путешествие на небеса - реальная история"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Говард Питтман. "У врат Небесных"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Григорий Турский. "Сальвий Альбийский"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
											<li><a href="">Джэсси Дюплантис. "Небеса. Близкие встречи Божественного характера"
												<div class="book-list-cont"><%= image_tag "001.jpg" %><p><span>Теги:</span> <a href="#">книга</a>, <a href="#">интересная</a>, <a href="#">познавательная</a>, <a href="#">книга</a></p></div>
											</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
