					<div class="content inner">
						<h1 class="content-title">Слайдер</h1>

						<div class="slider">
							<div class="slider-container">
								<ul>
									<li class="_active">Видео</li>
									<li>Книги</li>
									<li>Статьи</li>
								</ul>
							</div>
							<a href="" class="slider-next"></a>
							<a href="" class="slider-prev"></a>
							<div class="slider-content">
								<div class="slider-i _i1">
									<p>Здесь куча всякого видео</p>
								</div>
								<div class="slider-i _i2">
									<p>Здесь куча всяких книг</p>
								</div>
								<div class="slider-i _i3">
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
									<p>А здесь статей вообще хоть обчитайся</p>
								</div>
							</div>
						</div>
					</div>
