					<div class="content short-inner">
						<h1 class="content-title inner">видео</h1>
						<div class="video-container topmargin">
							<ul class="video-list _current" style="left: 0;">
								<li>
									<a href="">
										<div class="video-item-preview"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</a>
								</li>
								<li>
									<a href="">
										<div class="video-item-preview"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</a>
								</li>
								<li>
									<a href="">
										<div class="video-item-preview"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</a>
								</li>
								<li>
									<a href="">
										<div class="video-item-preview"></div>
										<p>Посмотрите сейчас на всё вокруг! Что вы наблюдаете?</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
